<div class=" p-4 mb-4">
  <h1 class="mb-3 " style="font-size: 4rem;"><%= @club.name %></h1>
  <p class="text-muted" style="font-size: 1.5rem"><%= @club.description %></p>
</div>

<h2 class="mb-3">Upcoming Events</h2>

<% if @events.any? %>
  <div class="list-group mb-4">
    <% @events.each do |event| %>
      <div class="list-group-item list-group-item-action my-2">
        <h5 class="mb-1"><%= event.name %></h5>
        <small class="text-secondary">
          <%= event.date.strftime("%B %d, %Y at %I:%M %p") if event.date %><br>

          <%= "Location: #{event.location}" if event.location.present? %>
          
        </small>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">No upcoming events.</p>
<% end %>

<div class="d-flex flex-column">
    <div class="d-flex">
        <%= link_to "Add New Event", new_event_path(club_id: @club.id), class: "btn btn-primary" %>
        <%= link_to "Back to All Clubs", clubs_path, class: "btn btn-secondary ms-2" %>
    </div>

    <%= button_to "Destroy this Club", @club, method: :delete, data: { confirm: "Are you sure you want to delete this club and all of its events?" }, class: "btn btn-danger mt-4 w-25 " %>
</div>
