<%= form_with(model: event) do |form| %>
    <%= form.hidden_field :club_id, value: event.club_id || params[:club_id] %>
  
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :date %>
      <%= form.datetime_field :date %>
    </div>
  
    <div>
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  